.sidebar-dashboard{
    position: fixed; 
    width: 210px;
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
}
.menu-item{
    margin: 30px 15px;
}
.menu-item ul{
    padding: 0;
    margin: 0;
    text-align: left;
}
.menu-item ul li{
    padding: 6px 0;
}