.register-form{
    border: 1px solid #000;
    padding: 30px; 
    width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    text-align: left;
}
.register-form input{
    display: block; 
    border-bottom: 2px solid #ddd;
    width: 100%;
    outline: none;
    padding:  10px 5px;
    margin-bottom: 15px;
}
.register-form input::placeholder{
    color:#000;
}